* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #030447;
  color: white;
}
.cv {
  max-width: 900px;
  margin: 30px auto;
  background: #1a1a1a;
  padding: 30px;
  border-left: 8px solid  #ff6a00;
  position: relative;
}
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #1f43a5, #2563eb);
}

.hero h1 {
  font-size: 48px;
}
.buttons a {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  background: #ff6a00;
  color: #1e3a8a;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}
section {
  padding: 10px 20px;
  max-width: 1000px;
  margin: auto;
}
h3 {
     color: #60a5fa;
  margin-bottom: 20px;
}
.skills .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:15px
}
.skills .grid div {
  background: #1e293b;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}
.projects .card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.title {
  background: #ff6a00;
  color: black;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.contact button {
  margin-top: 15px;
  padding: 12px 20px;
  border: none;
  background: #3b82f6;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}